*{
   box-sizing: border-box;
}
.container-2{
   width: 100%;
   margin-bottom: 4.5rem;
}
#wrapper{
   display: flex;
   flex-wrap: wrap;
}
#wrapper div{
   height: 300px;
}
.rap{ display: inline-block;
   color: aliceblue;
   background-color:#814ebf;
   font-size: 20px;
   font-weight: 400;
   padding-left: 100px;
   padding-top: 60px;
   text-align: justify;
   flex-basis: 70%;
   flex-grow: 0;
   flex-shrink: 0;
}
.rap-1{
   padding-left: 100px;
   padding-top: 100px;
   color: aliceblue;
   background-color: #814ebf;
   flex-basis: 30%;
   flex-grow: 0;
   flex-shrink: 0;
}
.rap-2{
   text-align: center;
   padding-top: 80px;

   color: #fff;
   background-color: #000;
   flex-basis: 25%;
   flex-grow: 0;
   flex-shrink:0 ;
}
.img{
   padding-top: 10px;
   width: 50px;
   height: 50px;
}
.k{
   text-decoration: none;
   display: inline-block;
   background-color: #fff;
   color: black;
   text-align: center;
   padding: 0.5rem 2.5rem;
   border: 1px solid rgb(127, 73, 201);
   font-size: 20px;
   font-weight: 300;
   letter-spacing: 0.5px;
   line-height: 2;
}
.ser-1{
   text-decoration: none;
   color: #fff;
   text-align: center;
}
.pk{
    color: #858585;;
   font-size: 10px;
   font-weight: 100;
}
.container-1{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   border-bottom: 1px solid rgba(159, 199, 199, 0.924);

}
.container-1 div{
padding: 30px;
}
.logo{
   flex: 2.5;
}
.service{
   flex:1 ;
}
.contact{
   flex: 1;
}
.course{
   flex: 1;
}
.ser{
   text-decoration: none;
   text-align: center;
   color: rgb(28, 26, 28);
   font-weight: 100;
   font-size: 20px;
   letter-spacing: 0.02rem;
   line-height: 2;
}
body {
margin: 0;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
font-size: 1.125rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;
background-color: rgb(255, 255, 255);
}
 #grid{
    display: grid;
    padding-right: 150px;
    padding-left: 150px;
    grid-template-columns: auto auto;
    grid-column-gap:40px;
 }
 .item{
 border: 0.5px solid rgba(163, 206, 235, 0.905);
 height: 380px;
 width: 500px;
 }
 .d{
width: 100%;
height: 100%;
 }
 .e{
    width: 100%;
    height: 100%;
 }
 .item1{
    height: 200px;
    text-align: center;
    padding-top: 0;
    font-size: 20px;
    color: rgb(29, 27, 27);
 }
 .a{
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1.75px;
text-align: center;
 }
.bodyy{
background: linear-gradient(180.45deg,rgba(0,0,0,0.6)0%,rgba(0,0,0,0.8)100%),
url("rocket.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 700px;
}
.nav{
text-align: center;
font-size: 20px;
font-weight: 400;
letter-spacing: 0.4rem;
text-transform: capitalize;
position: relative;

}
.text{
   display: flex;
   flex-wrap: wrap;
padding-top: 200px;
padding-left: 100px;
font-size: 70px;
}
.link{
display: inline-block;
text-decoration: none;
color: #57595c;
background-color: #f8f9fa;
border-color: #3f4245;
font-size: 1.25rem;
padding: 0.5rem 2rem;
line-height: 2;
text-transform: uppercase;
border: 0 solid transparent;
letter-spacing: 1.75px;
font-weight: 500;

}
.a{
display: inline-block;
text-align: center;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.89px;
color: #814ebf;
padding-top: 5px;
}
.box{
 width: 100%;
 height: 100%;
 padding-left: 150px;

}
.secondbox{
background-image: url("imagee.png");
position: relative;
width: 450px;
height: 300px;
bottom: 240px;
left: 800px;
color: #fff;
text-align: start;

}
.button-1{
text-decoration: none;
display: inline-block;
background-color: rgb(240, 244, 245);
color: #171616;
text-transform: uppercase;
font-size: 20px;
letter-spacing: 0.5rem;
font-weight: 400;
padding: 0.5rem 2rem;
}
.image-1{
width: 750px;
height: 510px;

}
.image-2{
background-image: url("imagee.png");
position: relative;
width: 480px;
height: 300px;
bottom: 230px;
left: 180px;
color: #fff;
text-align: start;

}
.l-1{
display: inline-block;
margin-top: -3.5rem;
margin-left: 14rem;
margin-bottom: 4.5rem;
text-align: center;
}
.a-1{
text-align: center;
font-size: 25px;
font-weight: 400;
letter-spacing: 2px;
line-height: 6;
color: #323437;
}
.b-1{
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 3rem;
  letter-spacing: 0.78px;
  line-height: 2;
  text-align: center;
  background-color: #814ebf;
  color: #fff;
}
.d-1{
font-style: italic;
font-size: 25px;
font-weight: 500;
}